.container {
    display: flex;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
  }
  .imageContainer img {
    width: 500px;
  }
  
  section {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 60px;
  }
  
  section h2 {
    text-align: center;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 30px;
  }
  
  section input {
    padding: 12px;
    margin: 15px;
    border: 1px solid #ebecf0;
    outline: none;
    border-radius: 20px;
    background: #ebecf0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
  
  section input::placeholder {
    color: black;
  }
  
  
  .reset {
    padding: 12px 30px;
    width: 40%;
    background-color: #395A63;
    color: whitesmoke;
    font-weight: bold;
    border: none;
    outline: none;
    margin: 15px 12px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
  }

  @media screen and (max-width: 600px) {
  .imageContainer {
    
  }

  .container {
    display: flex;
    padding: 10px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
  }

  section h2 {
    text-align: center;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #395A63;
    padding: 12px 30px;
    color: whitesmoke;
  }

  section input {
    padding: 12px;
    border: 1px solid #ebecf0;
    outline: none;
    background: #ebecf0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    width: 80%;
  }

  .reset {
    padding: 20px 30px;
    width: 80%;
    background-color: #f8bc02;
    color: whitesmoke;
    font-weight: bold;
    border: none;
    outline: none;
    margin: 15px 15px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
  }

  .imageContainer img {
    width: 300px;
    height: 300px;
  }
  }