.expenseListContainer {
    width: 50%; 
    margin-top: 10px;
    background: #020420;
}

.headText {
    
    padding: 10px 20px;
    color: whitesmoke;
    margin-bottom: 20px;
    border-radius: 4px;
   text-align: center;
}