.allContainer {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
     margin-left: 20px;
    margin-right: 20px;
    border-left: 1px sold black;
}

#listGap, .twoButtons {
    margin: 10px;
}

.lists {
    margin-bottom: 15px;
    margin-top: 10px;
    background: linear-gradient(to left, whitesmoke, #BB7DB3);
    border-radius: 5px;
}

.editButton {
    margin-right: 20px;
    padding: 10px 20px;
    background: gold;
    border-radius: 5px;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    border: none;
    cursor: pointer;
}

.deleteButton {
    padding: 10px 20px;
    border-radius: 5px;
    background: red;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    border: none;
    cursor: pointer;
}


.title {
    font-size: 23px;
   
}