/* .fixed {
    width: 100%;
    position: fixed;
    top: 0;
    transition: all 0.5s;
    z-index: 9;
  } */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background: linear-gradient(to right, #020420, #BB7DB3);
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-text {
    font-size: 2rem;
    font-weight: 500;
    color: white;
    font-family: "Montserrat", sans-serif;
  }
  .nav-links {
    display: flex;
    gap: 2rem;
  }
  
  menu {
    margin-right: 5rem;
  }
  
  .nav-links li {
    margin-left: 1rem;
    list-style: none;
  }
  
  .nav-links a {
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }
  
  
  .navbar .menu-icons {
    display: none;
  }
  
  .nav-links li span {
    color: white;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
  }

  menu ul li span {
    font-size: 16px;
  }
  
  .btn-orange {
    padding: 15px 25px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: 20px;
  }

  .btn-orange:hover {
    background: linear-gradient( #d3d636, #00860f);
    transition: all 0.5s ease-in-out;
    border: none;
  }
  
 @media screen and (max-width: 768px) {
    .logo {
      display: none;
    }
    
  }
  @media screen and (max-width: 600px) {


    .nav-btn {
      display: block;
    }
    .logo {
      display: none;
    }
    .nav-links {
      display: none;
    }
  
    .navbar .menu-icons {
      display: block;
      cursor: pointer;

    }
  
    .navbar #mobile-nav-links,
    .navbar #hide-mobile-nav-links {
      display: block;
      position: absolute;
      left: 0;
      top: 5rem;
      width: 89.1%;
      background: #020420;
      padding-bottom: 5px;
      transition: all 0.3s;
      z-index: 111;
    }
  
    .navbar #mobile-nav-links {
      animation: slide-in 0.5s ease-in-out;
    }

    .active {
      position: relative;
      color: red;
    }
    
    .active::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
    .navbar #hide-mobile-nav-links {
      left: -100%;
      /* animation: slide-out 0.5s ease-in-out; */
    }
  
    @keyframes slide-in {
      0% {
        transform: translateX(-100%);
      }
      1000% {
        transform: translateX(0);
      }
    }
    @keyframes slide-out {
      0% {
        transform: translateX(0);
      }
      1000% {
        transform: translateX(-100%);
      }
    }
  
    .navbar #mobile-nav-links li,
    .navbar #hide-mobile-nav-links li {
      text-align: center;
      padding: 1rem 0;
      border: none;
      margin: 0 3rem;
    }
  
    .navbar #mobile-nav-links li:last-child,
    .navbar #hide-mobile-nav-links :last-child {
      border-bottom: none;
    }
  }

 